<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3"
    android:versionName="1.0.0"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="co.median.android.rxwaor"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="34" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="co.median.android.rxwaor.permission.C2D_MESSAGE"
        android:protectionLevel="0x2" />

    <uses-permission
        android:name="co.median.android.rxwaor.permission.C2D_MESSAGE" />

    <queries>

        <intent>

            <action
                android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <intent>

            <action
                android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.GET_CONTENT" />

            <data
                android:mimeType="image/*" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.PICK" />

            <data
                android:mimeType="image/*" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.CHOOSER" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.VIEW" />

            <category
                android:name="android.intent.category.BROWSABLE" />

            <data
                android:scheme="https" />
        </intent>
    </queries>

    <permission
        android:name="co.median.android.rxwaor.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="0x2" />

    <uses-permission
        android:name="co.median.android.rxwaor.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:label="@ref/0x7f110022"
        android:icon="@ref/0x7f0f0000"
        android:name="co.median.android.GoNativeApplication"
        android:allowBackup="true"
        android:logo="@ref/0x7f08008a"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:networkSecurityConfig="@ref/0x7f140002"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">

        <activity
            android:theme="@ref/0x7f1201a7"
            android:name="co.median.android.LaunchActivity"
            android:exported="true"
            android:configChanges="0x480"
            android:windowSoftInputMode="0x10">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@ref/0x7f120132"
            android:label="@ref/0x7f110022"
            android:name="co.median.android.MainActivity"
            android:exported="true"
            android:configChanges="0x480"
            android:windowSoftInputMode="0x10" />

        <activity
            android:name="co.median.android.AppLinksActivity"
            android:exported="true"
            android:launchMode="2" />

        <activity
            android:theme="@ref/0x7f120132"
            android:name="co.median.android.pdfviewer.PdfViewerActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="co.median.android.rxwaor.fileprovider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f140000" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="" />

        <service
            android:name="co.median.android.DownloadService" />

        <receiver
            android:name="co.median.android.AppUpgradeReceiver"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:theme="@ref/0x7f120288"
            android:name="com.rajat.pdfviewer.PdfViewerActivity" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="co.median.android.rxwaor.androidx-startup">

            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>

        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">

            <intent-filter>

                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>

            <intent-filter>

                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>

            <intent-filter>

                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
            </intent-filter>

            <intent-filter>

                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
